@{
    ViewData["Title"] = "CRM Ärendelista";
}

<div class="text-center">
    <h1 class="display-4">CRM Ärendelista</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ArendeId</th>
                <th scope="col">Lokal</th>
                <th scope="col">Kundnr</th>
                <th scope="col">Namn</th>
                <th scope="col">Epost</th>
                <th scope="col">Tidsintervall</th>
            </tr>
        </thead>
        <tbody>
@foreach (var row in _DataStore.ListaArenden())
{
            <tr>
                <td>@row.ArendeId</td>
                <td>@row.Lokal</td>
                <td>@row.Kundnr</td>
                <td>@row.Namn</td>
                <td>@row.Epost</td>
                <td>@row.Tidsintervall</td>
            </tr>
}
        </tbody>
    </table>
</div>
